

    <!-- ***** Contact Us Area Start ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading" id="right">
                        <h2>تواصل معنا !</h2>
                        <div class="line-shape"></div>
                    </div>
                    <div class="footer-text" id="right">
                        <p>سيتم الرد عليك من قِبل خدمة العملاء في غضون ٢٤-٤٨ ساعة.</p>
                    </div>
                    <div class="address-text">
                        <p><span>العنوان:</span> الطابق ١٣، مبنـى ٤٥، شارع التحلية، جدة، السعودية </p>
                    </div>
                    <div class="phone-text">
                        <p><span>رقم الهاتف: </span>6789 345 12 966+</p>
                    </div>
                    <div class="email-text">
                        <p ><span>البريد الإلكتروني:</span> <a href="mailto:info@bedonHodod.com">info@bedonHodod.com</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Form Start-->
                    <div class="contact_from">
                        <form action="" method="post">
                          
                            <!-- Message Input Area Start -->
                            <div class="contact_input_area">
                                <div class="row">
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group" id="pad-top">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="الاسم الثنائي*" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="بريدك الإلكتروني *" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder=" تفاصيل الرسالة *" required></textarea>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn">إرسال</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Message Input Area End -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area End ***** -->
