<!-- ***** user profile Area Start ***** -->

<section class="clearfix" id="user_profile">

  <div class="container">

    <div class="row section_padding_100" style="transform: translateZ(0); margin-top:0;">
      <div class="col-12 col-md-3 col-lg-3 div_menu bg-white format1 ml-3 mb-3 ">
        <aside>
          <div class="dropdown text-right" style="padding_top:30px;">
            <div class="personal_img">
            <img class="circular" src="img/team-img/team-5.jpg" alt="">
            </div>
            <!--<h6 class="dropdown-header">حسابي</h6>-->
            <a class="dropdown-item " href="#profile">الملف الشخصي</a>
            <a class="dropdown-item" href="#pricing">الباقة</a>
            <a class="dropdown-item" href="#payment_methods">طريقة الدفع</a>
            <a class="dropdown-item" href="#Invoices">الفواتير</a>
            <a class="dropdown-item" href="#">تاريخ الشراء</a>
          </div>

        </aside>
      </div>
      <div class="col-12 col-md-9 col-lg-8">
        <div id="profile">
        <div class="row bg-white format1" >
          <div class="col-md-9 text-right pt-sm-0   pt-md-2 pt-lg-3">

            <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example ">
              <h4 id="list-item-1">الملف الشخصي</h4>
              <br /><br />
              <div class="row text-right form-group ">
                <!--name -->
                <div class="col-sm-3 col-md-3 col-lg-3 formLabelFormat border_left">
                  الإسم
                </div>
                <div class="col-sm-3 col-md-6 col-lg-6 formLabelFormat ">
                  <label id="uName">"hhh" </label>
                </div>
                <div class="col-sm-3 col-md-2 col-lg-2 formLabelFormat d-none d-md-block d-lg-block">
                  <label class="link linkName" onclick="openFormName(event)">تعديل</label>
                </div>
                <div class="col-sm-3 col-md-2 col-lg-2 formLabelFormat d-block d-md-none d-lg-none">
                  <label class="link linkName" onclick="openFormName(event)">تعديل22</label>
                </div>
              </div>

              <div class="row text-right form-group ">
                <!--user id -->
                <div class="col-sm-3 col-md-3 col-lg-3 formLabelFormat border_left">
                  رقم المستخدم
                </div>
                <div class="col-sm-3 col-md-6 col-lg-6 formLabelFormat">
                  <label id="uID">3456788999</label>
                </div>
                <div class="col-sm-3 col-md-2 col-lg-2 formLabelFormat">

                </div>
              </div>

              <div class="row text-right form-group">
                <!--email -->
                <div class="col-sm-3 col-md-3 col-lg-3 formLabelFormat">
                  الإيميل
                </div>
                <div class="col-sm-3 col-md-6 col-lg-6 formLabelFormat">
                  <label id="uEmail">Sumayya@gmail.com</label>
                </div>
                <div class="col-sm-3 col-md-2 col-lg-2 formLabelFormat">

                </div>
              </div>
              <div class="row text-right form-group">
                <!--password -->
                <div class="col-sm-3 col-md-3 col-lg-3 formLabelFormat">
                  كلمة السر
                </div>
                <div class="col-sm-3 col-md-6 col-lg-6 formLabelFormat">
                  <label id="uEmail">***********</label>
                </div>
                <div class="col-sm-3 col-md-2 col-lg-2 formLabelFormat d-none d-md-block d-lg-block">
                  <label class="link linkPass" onclick="openFormPass(event)">تعديل</label>
                </div>
                <div class="col-sm-3 col-md-2 col-lg-2 formLabelFormat d-block d-md-none d-lg-none">
                  <label class="link linkPass" onclick="openFormPass(event)">تعديل</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section_padding_100 "id="pricing">
        <div class=" bg-white row format1">
          <div class="col-md-9 text-right pt-sm-0   pt-md-2 pt-lg-3">

            <h4 id="list-item-2">الباقة المستخدمة</h4>
            <div class="row text-right form-group">
              <!--الباقة الحالية -->
              <div class="col-sm-3 col-md-3 col-lg-3 formLabelFormat">
                الباقة الحالية
              </div>
              <div class="col-sm-3 col-md-6 col-lg-6 formLabelFormat">
                <label>الباقة الأساسية</label>
              </div>
              <div class="col-sm-3 col-md-2 col-lg-2 formLabelFormat">
                <a href="">ترقية</a>
              </div>
            </div>
            <div class="row text-right form-group">
              <!--عدد مرات التحميل -->
              <div class="col-sm-3 col-md-3 col-lg-3 formLabelFormat">
                عدد مرات التحميل
              </div>
              <div class="col-sm-3 col-md-6 col-lg-2 formLabelFormat">
                <label>5</label>
              </div>
              <div class="col-sm-3 col-md-6 col-lg-4 formLabelFormat">
                عدد التحميلات المتبقية
              </div>
              <div class="col-sm-3 col-md-6 col-lg-3 formLabelFormat">
                <label>0</label>
              </div>
            </div>

          </div>
        </div>
</div>
<div class="section_padding_100 "id="payment_methods">
        <div class=" bg-white row format1" >
          <div class="col-md-9 text-right pt-sm-0   pt-md-2 pt-lg-3">
            <h4 id="list-item-3">طرق الدفع</h4>
            <!--ejx to add items dynmically-->
            <p>...</p>

          </div>
        </div>
</div>
<div class="section_padding_100 "id="Invoices">
        <div class="bg-white row  format1" id="Invoices">
          <div class="col-md-9 text-right pt-sm-0   pt-md-2 pt-lg-3">
            <h4 id="list-item-4">الفواتير</h4>
            <p>...</p>

          </div>
        </div>
      </div>
      </div>
    </div>
  </div>



</section>

<!-- ***** user profile Area End ***** -->
<!--modify name hidden form start-->
<div class="form-popup" id="modifyNameForm">

  <form action="" class="form-container">

    <button type="button" class="btn cancel" onclick="closeFormName()">x</button>

    <div class="container">

      <div class="row">

        <div class="col-md-10 mx-auto">

          <div class="logo mb-3">

            <div class="col-md-12 text-center">

              <h1 class="purple">الإسم</h1>

            </div>

          </div>

          <form action="" method="post" name="">

            <div class="form-group">

              <input type="text" name="name" class="form-control" id="name" placeholder="الإسم">

            </div>

            <div class="col-md-12 text-center ">

              <button type="submit" class="btn submit-btn">تعديل</button>

            </div>

          </form>

        </div>

      </div>

    </div>

  </form>

</div>

<!--modify name hidden form end-->

<!--modify password hidden form start-->
<div class="form-popup" id="modifyPassForm">

  <form action="" class="form-container-lg">

    <button type="button" class="btn cancel" onclick="closeFormPass()">x</button>

    <div class="container">

      <div class="row">

        <div class="col-md-10 mx-auto">

          <div class="logo mb-3">

            <div class="col-md-12 text-center">

              <h1 class="purple">تعديل كلمة السر</h1>

            </div>

          </div>

          <form action="" method="post" name="">

            <div class="form-group">

              <input type="password" name="password" class="form-control" id="password" placeholder="كلمة السر السابقة">
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control" id="password" placeholder="كلمة السر الجديدة">
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control" id="password" placeholder="تأكيد كلمة السر الجديدة">

            </div>

            <div class="col-md-12 text-center ">

              <button type="submit" class="btn submit-btn">تعديل</button>

            </div>

          </form>

        </div>

      </div>

    </div>

  </form>

</div>

<!--modify pass hidden form end-->

<script>
  function openForm1() {

    document.getElementById("myFormin").style.display = "block";

  }



  function closeForm1() {

    document.getElementById("myFormin").style.display = "none";

  }
</script>

<script>
  function openForm2() {

    document.getElementById("myFormup").style.display = "block";

  }



  function closeForm2() {

    document.getElementById("myFormup").style.display = "none";

  }
</script>

<script>
  function openFormName(event) {

    var x = document.getElementsByClassName("linkName");
    y = event.target;

    if (y == x[0]) {
      document.getElementById("modifyNameForm").classList.remove("form-popup_sm");
      document.getElementById("modifyNameForm").classList.add("form-popup");

    } else if (y == x[1]) {
      document.getElementById("modifyNameForm").classList.remove("form-popup");
      document.getElementById("modifyNameForm").classList.add("form-popup_sm");

    }
    document.getElementById("modifyNameForm").style.display = "block";
  }

  function closeFormName() {

    document.getElementById("modifyNameForm").style.display = "none";

  }
</script>

<script>
  function openFormPass(event) {

    var x = document.getElementsByClassName("linkPass");
    y = event.target;

    if (y == x[0]) {
      document.getElementById("modifyPassForm").classList.remove("form-popup_sm");
      document.getElementById("modifyPassForm").classList.add("form-popup");

    } else if (y == x[1]) {
      document.getElementById("modifyPassForm").classList.remove("form-popup");
      document.getElementById("modifyPassForm").classList.add("form-popup_sm");

    }
    document.getElementById("modifyPassForm").style.display = "block";
  }

  function closeFormPass() {

    document.getElementById("modifyPassForm").style.display = "none";

  }
</script>
