
<!-- ***** Header Area Start ***** -->
<header class="header_area animated">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- Menu Area Start -->
      <div class="col-12 col-lg-10" id="pand-5">
        <div class="menu_area" id="nav-bg-color">
          <nav class="navbar navbar-expand-lg navbar-light">
            <!-- Logo -->
            <a class="navbar-brand" href="/"> <img id="logo-header" src="img/logo-img/logo-3.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <!-- Menu Area -->
            <div class="collapse navbar-collapse" id="ca-navbar">
              <ul class="navbar-nav ml-auto" id="nav">
                <li class="nav-item"><a class="nav-link" href="/">الصفحة الرئيسية</a></li>
                <li class="nav-item"><a class="nav-link" href="about">عن الموقع</a></li>
                <li class="nav-item"><a class="nav-link" href="/books">المنتجات</a></li>
                <li class="nav-item"><a class="nav-link" href="/books/new">أضف منتج</a></li>
                <li class="nav-item"><a class="nav-link" href="/authors">انضم لنا كمطوّر</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">تواصل معنا</a></li>
              </ul>
            <!--  <form id="demo-2" action="search.html">
                <input type="search" placeholder="Search">
              </form> -->
              <div class="sing-up-button d-lg-none dis">
                <a  class="mr-15" href="/signin">سجل دخول</a>
                <a  href="/signup">انشيء حساب</a>
              </div>
             <!-- <div class="sing-up-button d-lg-none hid">
              <a  href="/logout" src="logout">تسجيل خروج</a>
            </div> -->
            </div>
          </nav>
        </div>
      </div>
      <!-- Signup btn -->
      <div class="col-12 col-lg-1 dis">
        <div class="sing-up-button d-none d-lg-block">
          <a href="signin">سجل دخول</a>
        </div>
      </div>
      <div class="col-12 col-lg-1 dis">
        <div class="sing-up-button d-none d-lg-block">
          <a href="signup">انشيء حساب</a>
        </div>
      </div>
  <!--  <div class="col-12 col-lg-1 hid">
        <div class="sing-up-button d-none d-lg-block">
          <a href="signin/logout">تسجيل خروج</a>
        </div>
      </div> -->
      </div>
    </div>
    </header>
<!-- ***** Header Area End ***** -->
