<!-- Preloader Start -->
<div id="preloader">
  <div class="colorlib-load"></div>
</div>

<!-- ***** Wellcome Area Start ***** -->
<section class="wellcome_area clearfix" id="home">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-md">
        <div class="wellcome-heading text-right">
          <h2> ماهي منصة بدون حدود</h2>
          <h3>؟!</h3>
          <p>
هل تود اثراء مواقعك وصفحاتك الالكترونية بتصاميم مميزة هل تود التعريف بفنك ومشاركة اعمال وفقا للسياسية التي تفضلها أنت على بعد خطورة من ذلك الأن
      </p>
        </div>

      </div>
    </div>
  </div>
  <!-- Welcome thumb -->
  <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.10s">
    <img src="img/bg-img/sellerMain.png" alt="">
  </div>
</section>
<!-- ***** Wellcome Area End ***** -->


<!-- ***** show devlopers***** -->
<section class="special-area bg-white section_padding_100" id="about">
<div class="container">
<div class="row">
<div class="col-12">

<div class="section-heading text-center">
<h2>أبرز المطورين </h2>
<div class="line-shape"></div>
</div>
</div>
</div>
<div class="row">
<% authors.forEach(author => { %>
<div class="col-12 col-md-4">
<div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
<div class="single-icon">
  <i class="ti-crown" aria-hidden="true"></i>

</div>
<h4><%= author.name %></h4>
</div>
</div>
<% }) %>
</div>

</div>
</section>
<!-- ***** end show devloper***** -->



<section class="cool_facts_area clearfix text-right">
<div class="container">
<div class="row">

<div class="col-12 col-md-3 col-lg-3">
<div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.2s">
<div class="counter-area">
<h3><span class="counter">90</span></h3>
</div>
<div class="cool-facts-content">
<i class="ion-arrow-down-a"></i>
<p>عدد<br> التنزيلات</p>
</div>
</div>
</div>

<div class="col-12 col-md-3 col-lg-3">
<div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.4s">
<div class="counter-area">
<h3><span class="counter">120</span></h3>
</div>
<div class="cool-facts-content">
<i class="ion-happy-outline"></i>
<p>عدد <br> العملاء</p>
</div>
</div>
</div>

<div class="col-12 col-md-3 col-lg-3">
<div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.6s">
<div class="counter-area">
<h3><span class="counter">40</span></h3>
</div>
<div class="cool-facts-content">
<i class="ion-person"></i>
<p>العملاء <br>الاكثر نشاطا</p>
</div>
</div>
</div>

<div class="col-12 col-md-3 col-lg-3">
<div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.8s">
<div class="counter-area">
<h3><span class="counter">10</span></h3>
</div>
<div class="cool-facts-content">
<i class="ion-ios-star-outline"></i>
<p>معدل <br>التقييم</p>
</div>
</div>
</div>
</div>
</div>
</section>

<!-- ***** Footer Area Start ***** -->


  <!-- ***** Pricing Plane Area Start *****==== -->
  <section class="pricing-plane-area section_padding_100_70 clearfix" id="pricing">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- Heading Text  -->
                  <div class="section-heading text-center">
                      <h2>باقاتنا</h2>
                      <div class="line-shape"></div>
                  </div>
              </div>
          </div>

          <div class="row no-gutters">
              <div class="col-12 col-md-6 col-lg-4">
                  <!-- Package Price  -->
                  <div class="single-price-plan text-center">
                      <!-- Package Text  -->
                      <div class="package-plan">
                          <h5>الباقة الأساسية</h5>
                            <img src="img/scr-img/basic.png" alt="">
                          <div class="ca-price d-flex justify-content-center">
                              <h4>مجاناَ</h4>
                          </div>
                      </div>
                      <div class="package-description">
                        <p>تحميل العناصر المجانية فقط</p>
                        <p>يمكن شراء العناصر بشكل منفرد</p>
                        <p>لا يوجد اشتراك</p>
                        <p>دعم 24/7</p>
                      </div>
                      <!-- Plan Button  -->
                      <div class="plan-button">
                          <a href="#"></a>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                  <!-- Package Price  -->
                  <div class="single-price-plan text-center">
                      <!-- Package Text  -->
                      <div class="package-plan">
                          <h5>الباقة الفضية</h5>
                          <img src="img/scr-img/silver.png" alt="">
                          <div class="ca-price d-flex justify-content-center">
                              <h4>250</h4>
                              <span>ريال سعودي</span>
                          </div>
                      </div>
                      <div class="package-description">
                        <p>تحميل عدد محدد من العناصر</p>
                        <p>يمكن شراء العناصر بشكل منفرد</p>
                        <p>تجديد الإشتراك سنوياَ</p>
                        <p>دعم 24/7</p>
                      </div>
                      <!-- Plan Button  -->
                      <div class="plan-button">
                            <a href="#"></a>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                  <!-- Package Price  -->
                  <div class="single-price-plan text-center">
                      <!-- Package Text  -->
                      <div class="package-plan">
                         <h5>الباقة الذهبية</h5>
                         <img src="img/scr-img/gold.png" alt="">
                          <div class="ca-price d-flex justify-content-center">
                              <h4>500</h4>
                              <span>ريال سعودي</span>
                          </div>
                      </div>
                      <div class="package-description">
                          <p>تستطيع الوصول لأي عنصر</p>
                          <p>تحميل غير محدود</p>
                          <p>تجديد الإشتراك سنوياَ</p>
                          <p>دعم 24/7</p>
                      </div>
                      <!-- Plan Button  -->
                      <div class="plan-button">
                            <a href="#"></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Pricing Plane Area End ***** -->
