
  <!-- ***** policy Area Start *****==== -->
  <section class="pricing-plane-area section_padding_100_70 clearfix text-right" id="pricing">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- Heading Text  -->
                  <div class="section-heading text-center">
                      <h2>سياسة الخصوصية</h2>
                      <div class="line-shape"></div>
                  </div>
              </div>
          </div>

          <div class="row ">

<br />
<p>
  تم تجميع سياسة الخصوصية لتقدم خمة أفضل لهؤلاء المهتمين بكيفية استخدام "معلومات تعريف الشخصية" PII على الانترنت. تعريف PII كما ذكر في قوانين الخصوصية وأمن المعلومات الخاصة بالولايات المتحدة هي معلومة يمكن استخدامها بمفردها او مع معلومة اخرى لتعريف
  الشخص او التواصل معه او تحديد موقعه، او لتعريف الفرد في نفس السياق. من فضلك اقرأ سياسة الخصوصية الخاصة بنا بعناية للحصول على فهم واضح حول كيفية تجميع واستخدام وحماية أو معالجة معلومات تعريف الشخصية لخاصة بك وفقا لموقعنا الالكتروني.
</p>
</div>
<h3>متى نقوم بجمع المعلومات؟</h3>
<p>
  نحن نقوم بجمع المعلومات منك عندما تقوم بعمل طلب أو الانضمام الى رسالة اخبارية او ادخال معلومات الى موقعنا الالكتروني


</p>
<h3>كيف نستخدم المعلومات؟</h3>
<p>
             من الممكن استخدام المعلومات التي قمنا بتجميعها منك عندما سجلت الدخول أو قمت بعملية شراء أو اشتركت في رسالة اخبارية أو الرد على استبيان أو تواصلت مع التسويق، أو تصفحت الموقع أو استخدمت خاصية معينة أخرى من الطرق الأتية:
<br /><br />
                 *	لتشخيص خبرتك والسماح لنا بتوصيل نوع وعروض المحتوى والمنتج الذي تهتم به اكثر
<br />
                 *	لتحسين موقعنا الالكتروني من اجل تقديم خدمة أفضل لك
<br />

              *	لإدارة المنافسة والعروض والاستبيان واي خاصية اخرى بالموقع
      <br />
*	لإرسال الرسائل الالكترونية بانتظام فيما يتعلق بطلبك أو أي منتجات او خدمات اخرى
        <br />
                 *	المتابعة معهم بعد مراسلاتهم من خلال (المحادثة المباشرة او البريد الالكتروني او الاستعلامات الهاتفية)

</p>

<h3>كيف نحمي معلوماتك؟</h3>
<p>

      *	يتم فحص موقعنا الالكتروني بانتظام من اجل الثغرات الأمنية ونقاط الضعف المعروفة من أجل القيام بزيارتك لموقعنا على اكبر قدر من الأمان
    <br />
      *	نستخدم برنامج فحص للبرامج الضارة
    <br />
    *	ان معلوماتك الشخصية متواجدة خلف الشبكة الأمنة ويمكن تسجيل الدخول اليها فقط عن طريق عدد محدود من الافراد الذين لديهم حق الدخول لمثل هذه النظم والمطالبين بإبقاء المعلومات سرية. بالإضافة الى تشفير كل المعلومات الحساسة حول كروت الائتمان التي تقدمها عن طريق تكنولوجيا طبقة الوصلات الامنة
  <br />
    *	نحن نقوم بتطبيق العديد من المقاييس الامنية عند دخول المستخدم او عرض او الدخول الى معلوماتهم لحفظ امن معلوماتك الخاصة
  <br />
  *	يتم تجهيز جميع المعاملات من خلال مقدم الوصلة الشبكية ولا يتم حفظها او استخدامها على خادم الشبكة الخاص بنا
  <br />
</p>
<br />
<h3>الكشف عن الطرف الثالث</h3>
<p>
  نحن لا نقوم بالبيع او المتاجرة او حتى تحويل أي معلومات تعريف شخصية لأطراف ثالثة خارجية
</p>
<h3> روابط الطرف الثالث</h3>
<p>
  نحن لا نقوم ببيع او عرض أي منتجات او خدمات طرف ثالث على موقعنا الالكتروني
</p>
<h3>جوجل Google</h3>
<p>
  يمكن تجميع متطلبات جوجل الاعلانية عن طريق مبادئ جوجل الاعلانية؛ فيتم وضعهم بمكان حيث يعرض الخبرات الايجابية للمستخدمين
يستخدم جوجل، كمورد طرف ثالث، ملفات تعريف الارتباط للأطراف الثالثة (كملفات تعريف ارتباط النقر الثنائي) مع استخدام ادوات تحديد الهوية لجمع البيانات الخاصة بمعاملات المستخدم مع انطباع الاعلانات ووظائف خدمات اعلانية اخرى كما هي مرتبطة بموقعنا الالكتروني

</p>
<h3>لقد قمنا بتطبيق الاتي</h3>
<p>
  * 	الابلاغ عن انطباع عرض الشبكة الخاص بجوجل
  * 	الابلاغ عن الديمغرافية والفائدة
  نحن نستخدم ملفات تعريف الارتباط (مثل ملفات تعريف ارتباط تحليل جوجل) بجانب مورد الطرف الثالث، جوجل، كما نستخدم ايضا ملفات تعريف ارتباط الطرف الثالث (مثل ملفات تعريف ارتبا النقر الثنائي) أو وسيلة تعريف اخرى للطرف الثالث معا لتجميع البيانات وفقا لتفاعلات المستخدم مع انطباعات الاعلان ووظائف خدمات اعلانية اخرى كما هو مرتبط بموقعنا الالكتروني
</p>
<h3>اختيار عدم التطبيق</h3>
<p>
  يمكن ان يضع المستخدمين خيارات لاستقبال اعلانات جوجل، مستخدما صفحة اعدادات اعلانات جوجل. وعوضا عن ذلك، يمكنك اختيار عدم التطبيق عن طريق زيارة مبادرة اعلانات الشبكة وصفحة اختيار عدم التطبيق او اضافية متصفح عد اختيار التطبيق والتحليل الخاصة بجوجل
</p>

</div>
</section>
  <!-- ***** policy Area End ***** -->

