
  <!-- ***** about us Area Start *****==== -->
  <section class=" about-us section_padding_100_70 clearfix footer-contact-area section_padding_100 clearfix" id="pricing">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Heading Text  -->
          <div class="section-heading text-center">
            <h2>من نحن</h2>
            <div class="line-shape"></div>
          </div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <p class="text-center">
            بلا حدود، شركة سعودية تقنية رائدة نقدم خدماتنا في عرض وبيع كل ما يتعلق بتطوير المواقع من ملفات (html,css,js,jquery,images,icons,bootstrap,nodejs,mongoose,mongod,…etc)
          </p>
        </div>
      </div>
  </section>
  <!-- ***** about us Area End ***** -->

  <!-- ***** CTA Area Start ***** -->
  <section class="our_message section_padding_50 clearfix">
    <div class="row">
      <div class="col-0 col-md-4 col-lg-4">
      </div>
      <div class="col-3 col-md-1 col-lg-1">
        <div class="aboutus_img aboutus_img_active">
          <img class ="about-img" onclick="displayMessage(event)" src="img/icon1.png" alt="">
        </div>
      </div>
      <div class="col-3 col-md-1 col-lg-1">
        <div class="aboutus_img ">
          <img class ="about-img" onclick="displayMessage(event)" src="img/icon2.png" alt="">
        </div>
      </div>
      <div class="col-3 col-md-1 col-lg-1">
        <div class="aboutus_img">
          <img class ="about-img" onclick="displayMessage(event)" src="img/icon3.png" alt="">
        </div>
      </div>
      <div class="col-3 col-md-1 col-lg-1">
        <div class="aboutus_img">
          <img class ="about-img" onclick="displayMessage(event)" src="img/icon4.png" alt="">
        </div>
      </div>
    </div>
      <div class="row text-center section_padding_50">
        <div class="col-0 col-md-3 col-lg-3">
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <div class="message">
          <h3 class="mp">رسالتنا</h3>
          <p class="mp">
رسالة موقعنا هي <strong>طور بلا حدود </strong> مع تقديم الخدمات المتكاملة لمواقع الانترنت وحلول الويب المختلفة وتوفير الحلول والاستشارات التقنية باستخدام افضل واحدث الاساليب والطرق المتوفرة في مجال تكنولوجيا المعلومات الى العملاء الذين يرغبون في تطوير اعمالهم مما يعود عليهم وعلى اعمالهم بالنفع والفائدة والمساهمة في نمو اعمالهم, وايضا المساهمة دائما في تطوير محتوى الانترنت وتحسينه لتوفير محتوي جيد يستفيد منه المستخدم النهائي ويعود بالفائدة على المجتمع.
          </p>
          </div>
          <div class="message hidden">
          <h3 class="mp">رؤيتنا</h3>
          <p class="mp">
            أن نكون المزوّد الموثوق المفضل لتقديم أفضل الحلول المناسبة وتصميمها بأسلوب يتناسب مع احتياجات ومتطلبات العملاء من شركات ومؤسسات على تنوع نشاطها وحجم أعمالها؛ وفق أحدث المنتجات والبرمجيات وتطبيقات تكنولوجيا المعلومات وخدماتها بأعلى
            المعايير التقنية والعلمية المعمول بها عالمياً.
          </p>
        </div>
        <div class="message hidden">
          <h3 class="mp">أهدافنا</h3>
          <p class="mp">
            تقديم خدماتنا والوصول بها الى كافة العملاء في جميع دول العالم
            <br />
            ان نحقق جميع احتياجات العميل المتعلقة بخدمات مواقع الانترنت
            <br />
            توفير أفضل الحلول التقنية والاستشارات للعميل الذي يرغب في تطوير اعماله
            <br />
            تحقيق الرضاء التام للعميل عن الخدمة المقدمة اليه
            <br />
            الاهتمام بجودة خدمات ما بعد البيع والاستمرار في تحسينها وتطويرها دائما
            <br />
            توفير فريق دعم فني تقني يتمتع بالخبرة وتطوير مهاراته باستمرار
            <br />
            تطوير مهارات فريق العمل التقنية والادارية باستمرار

          </p>
        </div>
        <div class="message hidden">
          <h3 class="mp">قيمنا</h3>
          <p class="mp">
            من أهم عوامل نجاحنا وتطورموقعنا هي تلك القيم الأساسية التي انطلقنا من خلالها في رسم وإدارة أعمالنا ومشاريعنا المتنامية في السوق، والمتمثلة في وضع حاجات ومتطلبات عملائنا وزبائننا في مقدمة اهتماماتنا ورسم استراتيجية حقيقية دقيقة وواضحة لتحقيق أعلى معايير الرضى والقبول لديهم، وتوظيف كافة قدراتنا ومواردنا البشرية والتكنولوجية لتلبية كافة احتياجاتهم ومتطلباتهم، على النحو الأمثل
          </p>
        </div>
        </div>
      </div>
  </section>
  <!-- ***** CTA Area End ***** -->

  <!-- ***** Our Team Area Start ***** -->
  <section class="our-Team-area bg-white section_padding_100_50 clearfix" id="team">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <!-- Heading Text  -->
          <div class="section-heading">
            <h2>فريق العمل</h2>
            <div class="line-shape"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-team-member">
            <div class="member-image">
              <img src="img/team-img/team-2.jpg" alt="">
              <div class="team-hover-effects">
                <div class="team-social-icon">
                  <a href="https://amalal-otaibi.github.io/cv/"><i class="ti-github" aria-hidden="true"></i></a>
                  <a href="https://twitter.com/amalalotaibi0"><i class="ti-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/amal-ahmad-alotaibi-40485291/"><i class="ti-linkedin" aria-hidden="true"></i></a>

                </div>
              </div>
            </div>
            <div class="member-text text-center">
              <h4>أمل العتيبي</h4>
              <p>مبرمجه ومطورة مواقع</p>
              <p>
                مبرمجة في عمادة تقنية المعلومات
              </p>
              <p>
                طالبة ماجستير في جامعة الملك عبدالعزيز
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-team-member">
            <div class="member-image">
              <img src="img/team-img/team-1.jpg" alt="">
              <div class="team-hover-effects">
                <div class="team-social-icon">
                  <a href="https://github.com/e2gh"><i class="ti-github" aria-hidden="true"></i></a>
                  <a href="https://twitter.com/E2Gh"><i class="ti-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/eyth2gh/ "><i class="ti-linkedin" aria-hidden="true"></i></a>
                  <a href="https://www.instagram.com/e2gh/?hl=en"> <i class="ti-instagram" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="member-text text-center">
              <h4>إيثار الغامدي</h4>
                <p>مبرمجه ومطورة مواقع</p>
                <p>
                  معيدة في جامعة بيشة
                </p>
                <p>
                طالبة ماجستير في جامعة الملك عبدالعزيز
                </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-team-member">
            <div class="member-image">
              <img src="img/team-img/team-2.jpg" alt="">
              <div class="team-hover-effects">
                <div class="team-social-icon">
                  <a href="https://github.com/Sumayya2019"><i class="ti-github" aria-hidden="true"></i></a>
                  <a href="https://uqu.edu.sa/safadly"><i class="ti-user" aria-hidden="true"></i></a>

                </div>
              </div>
            </div>
            <div class="member-text text-center">
              <h4>سميه الفضلي</h4>
                <p>مبرمجه ومطورة مواقع</p>
                <p>
                  أستاذه في جامعة أم القرى
                </p>
                <p>
                طالبة ماجستير في جامعة الملك عبدالعزيز
                </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Our Team Area End ***** -->

  <script src="js/active.js"></script>

  <script>
    function openForm1() {

      document.getElementById("myFormin").style.display = "block";

    }



    function closeForm1() {

      document.getElementById("myFormin").style.display = "none";

    }
  </script>

  <script>
    function openForm2() {

      document.getElementById("myFormup").style.display = "block";

    }



    function closeForm2() {

      document.getElementById("myFormup").style.display = "none";

    }
  </script>
<script>
  function displayMessage(event){
    var xim = document.getElementsByClassName("about-img");
    var ximdiv = document.getElementsByClassName("aboutus_img");
    var xdiv = document.getElementsByClassName("message");
  y= event.target;
  if(y == xim[0]){
    xdiv[0].classList.remove("hidden");
    xdiv[1].classList.add("hidden");
    xdiv[2].classList.add("hidden");
    xdiv[3].classList.add("hidden");
    ximdiv[0].classList.add("aboutus_img_active");
    ximdiv[1].classList.remove("aboutus_img_active");
    ximdiv[2].classList.remove("aboutus_img_active");
    ximdiv[3].classList.remove("aboutus_img_active");
  }else if(y == xim[1]){
    xdiv[0].classList.add("hidden");
    xdiv[1].classList.remove("hidden");
    xdiv[2].classList.add("hidden");
    xdiv[3].classList.add("hidden");
    ximdiv[0].classList.remove("aboutus_img_active");
    ximdiv[1].classList.add("aboutus_img_active");
    ximdiv[2].classList.remove("aboutus_img_active");
    ximdiv[3].classList.remove("aboutus_img_active");
    }
    else if(y == xim[2]){
      xdiv[0].classList.add("hidden");
      xdiv[1].classList.add("hidden");
      xdiv[2].classList.remove("hidden");
      xdiv[3].classList.add("hidden");
      ximdiv[0].classList.remove("aboutus_img_active");
      ximdiv[1].classList.remove("aboutus_img_active");
      ximdiv[2].classList.add("aboutus_img_active");
      ximdiv[3].classList.remove("aboutus_img_active");
      }
      else if(y == xim[3]){
        xdiv[0].classList.add("hidden");
        xdiv[1].classList.add("hidden");
        xdiv[2].classList.add("hidden");
        xdiv[3].classList.remove("hidden");
        ximdiv[0].classList.remove("aboutus_img_active");
        ximdiv[1].classList.remove("aboutus_img_active");
        ximdiv[2].classList.remove("aboutus_img_active");
        ximdiv[3].classList.add("aboutus_img_active");
        }
  //  alert(a);
  }
</script>


</body>



</html>
