
  <!-- ***** Wellcome Area Start ***** -->
  <section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 col-md">
          <div class="wellcome-heading">
            <h2>هل تملك مهارة تخدم<br /> مطوري المواقع؟</h2>
            <h3>؟!</h3>
            <p>انضم إلينا، قم بعرض أعمالك، وأربح الكثير من المال!</p>
          </div>

        </div>
      </div>
    </div>
    <!-- Welcome thumb -->

  </section>
  <!-- ***** Wellcome Area End ***** -->

  <!-- Special Description Area -->
  <div class="special_description_area pt-100 bg-white h250">
    <div class="container">
      <div class="col-lg-12 col-xl-12 ml-xl-auto">
        <div class="special_description_content text-center">
          <h2>بعد الانضمام ما الذي سيحدث؟!</h2>
          <p>ستقوم برفع أعمالك على الموقع، ونحن بدورنا سنعرضها على مطوري مواقع الانترنت، من يحتاجها سيقوم بتنزيلها أو شراءها حسب الباقة التي اشترك فيها، وعليه سيظهر في محفظتك الموجودة في لوحة التحكم الخاصة بك مجموع ما جمعته من أموال، وكل ٣ أشهر سيتم
            تحويل ما فيها إلى حسابك البنكي، إلا أننا سنستقطع منها ٥٪ فقط كرسوم وساطة، إذا كان مجموع الأموال في محفظتك بعد مرور ٣ أشهر أقل من ١٠٠ ريال، سيتم تحويل كامل المبلغ لك دون استقطاع!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Special Area End ***** -->

  <!-- ***** Special Area Start ***** -->
  <section class="special-area bg-white section_padding_100" id="about">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading Area -->
          <div class="section-heading text-center">
            <h2>لماذا تنضم إلينا؟</h2>
            <div class="line-shape"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Special Area -->
        <div class="col-12 col-md-4">
          <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
            <div class="single-icon">
              <i class="ti-desktop" aria-hidden="true"></i>
            </div>
            <h4>سهولة استخدام الموقع</h4>
            <p>لوحة التحكم الخاصة بك سهلة الاستخدام، لن تشعر بالتعب أبدًا أو الحيرة أثناء العمل من خلالها</p>
          </div>
        </div>
        <!-- Single Special Area -->
        <div class="col-12 col-md-4">
          <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
            <div class="single-icon">
              <i class="ti-stamp" aria-hidden="true"></i>
            </div>
            <h4>حفظ الحقوق</h4>
            <p>حقوق أعمالك محفوظة لك وحدك، نحن نؤمن أنه ليس من حقنا أن نُزيلها أو نستبدلها أو نضيف لها طرف آخر.</p>
          </div>
        </div>
        <!-- Single Special Area -->
        <div class="col-12 col-md-4">
          <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
            <div class="single-icon">
              <i class="ti-wand" aria-hidden="true"></i>
            </div>
            <h4>قابلية التعديل</h4>
            <p>بإمكانك تعديل أي من أعمالك المعروضة في أي وقت تريد من خلال لوحة التحكم الخاصة بك.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Special Area -->
        <div class="col-12 col-md-4">
          <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
            <div class="single-icon">
              <i class="ti-wallet" aria-hidden="true"></i>
            </div>
            <h4>ربح سريع</h4>
            <p>لا تعاملات بنكية مرهقة..الأموال ستدخل لمحفظتك، وسيتم تحويل ٩٥٪ منها إلى حسابك البنكي كل ٣ أشهر!</p>
          </div>
        </div>
        <!-- Single Special Area -->
        <div class="col-12 col-md-4">
          <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
            <div class="single-icon">
              <i class="ti-bar-chart" aria-hidden="true"></i>
            </div>
            <h4>إحصائيات كاملة</h4>

            <p>يمكن أن عرف أكثر حول عدد تنزيلات أعمالك ومدى إقبال المطورين عليها من خلال إحصائيات لوحة التحكم</p>
          </div>
        </div>
        <!-- Single Special Area -->
        <div class="col-12 col-md-4">
          <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
            <div class="single-icon">
              <i class="ti-back-left" aria-hidden="true"></i>
            </div>
            <h4>لا رسوم انسحاب</h4>
            <p>يمكنك أن تغلق حسابك كبائع في أي وقت بلا رسوم انسحاب، وسيتم تحويل ٩٥٪ من أموال المحفظة لحسابك</p>
          </div>
        </div>
      </div>


      <div class="row">
        <!-- Single Special Area -->
        <div class="col-12 col-md-4">
          <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
            <div class="single-icon">
              <i class="ti-headphone-alt" aria-hidden="true"></i>
            </div>
            <h4>خدمة عملاء ٢٤/٧</h4>
            <p>تتوفر من أجلك خدمة عملاء على مدار اليوم كل أيام الأسبوع </p>
          </div>
        </div>
        <!-- Single Special Area -->
        <div class="col-12 col-md-4">
          <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
            <div class="single-icon">
              <i class="ti-crown" aria-hidden="true"></i>
            </div>
            <h4>اشتراك بالباقة الاحترافية</h4>
            <p>انضمامك كبائع يتيح لك كل مزايا الباقة الذهبية .</p>
          </div>
        </div>
        <!-- Single Special Area -->
        <div class="col-12 col-md-4">
          <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
            <div class="single-icon">
              <i class="ti-comments" aria-hidden="true"></i>
            </div>
            <h4>تعليقات المستخدمين</h4>
            <p>يترك المستخدمون تعليقات على أعمالك، تفيدك في فهم احتياجاتهم</p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- ***** CTA Area Start ***** -->
  <section class="our-monthly-membership section_padding_50 clearfix">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7">
          <div class="membership-description">
            <h2>انضم إلينا الآن</h2>
            <p>مصدر ربح مريح، ورضى مضمون.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="get-started-button wow bounceInDown" data-wow-delay="0.5s">
            <a href="/authors/new">للتسجيل، انقر هنا</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ***** CTA Area End ***** -->
